.wrapper {
    position: relative;
    width: 100%;
    height: 40px;
}

.canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
  
.form-control.input-field {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* ← InputをCanvasより上に */
    width: 100%;
    height: 100%;
    text-align: right;

    padding-left: 0;
    padding-right: 0;

    font-family: "Roboto Mono", "Consolas", "Menlo", "Courier New", monospace;
    font-size: 1rem;
}

.select-overlay {
  position: relative;
  z-index: 0;
  background-color: black;
  color: white;
}

.select-overlay::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  transition: background-color 0.2s;
  z-index: 1;
  pointer-events: none;
}

.select-overlay:hover::after {
  background-color: rgba(255,255,255,0.3);
}